*{
    margin: 0px;
    padding: 0px;
    /* font-size: 16px */
    /* default 1rem = 16px */
    font-size: 10px; /* 1rem = 10px */
    box-sizing: border-box;
}

body {
 background: url("./images/bg-desktop.svg"), linear-gradient(0deg, rgb(85, 4, 85), rgb(155, 46, 155));
 width: 100vw;
 font-family: 'Poppins', sans-serif;
}

/*
* vh -> view height altura total del tamaño de tu pantalla.
* vw -> view width ancho total del tamaño de tu pantalla.
* px -> es una unidad para medir
* 
*/
.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.cabecera{
 height: 10rem;
 padding-left: 6rem;
}

.main-content {
 display: flex;
 justify-content: space-around;
 align-items: center;
 max-width: 200rem;
 
}

.cabecera img{
    max-width:20rem;
    height:20rem;
   
}
.contenido img{
    padding-left:5rem ;
    padding-right: 5rem;
    padding-top: 10rem;
    padding-bottom: 5rem;

}
.lateral{
    padding-left: 2rem;
    padding-right: 6rem;
    padding-top: 15rem;
    
}

.lateral h1{
    color: white;
    font-size: 5rem;
    font-weight: 600;
    
}
.lateral p{
    color: white;
    font-size: 2rem;
    font-weight: 400;
}


/* (0,0,1,0)*/
.boton {
    text-decoration: none;
    background: white;
    color: purple;
    
    /*Convertir a unidades relatvas*/
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    /* padding: top/bottom right/left; */
    padding: 1rem 4rem; 
    /*
    * padding: 10px 40px 10px 40px;
    * padding-top: 10px;
    * padding-left: 40px;
    * padding-bottom: 10px;
    * padding-right: 40px;
    */
    display: inline-block;
    margin-top: 1rem;
    
}
a:hover{
    background-color: rgb(228, 119, 173);
    color: white;
}

/* pseudoclase :hover -> Cuando el usuario se situa con el mouse por encima del elemento */
/* 
* Pseudoclase: En algunos html indican alguna accion de usuario a un elemnto.
* :hover
* :active
* :visited
* :focus 
*/

button:hover {
    /*Cambiar color */
    
    background-color: rgb(228, 119, 173);
    
    
}


.lateral {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.botones-final {
    /*padding-left: 110rem;*/
    /* Evitar usar reglas absolutas*/
    /*margin-left: 1170px;*/
    align-self: flex-end;

}

.boton-circular {
    border-radius: 5rem;
    font-size: 3rem;
    font-weight: normal;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-right: 1rem;
    
    

}
.boton-circular:hover{
    cursor: pointer;
    
    
}
.fa-twitter, .fa-instagram{
    font-size: 2.5rem;
    padding: 1rem;
    
}
.fa-facebook-f{
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* (0,0,0,1)*/
/* a {
    font-size: 50px !important;  (1,0,0,0)
} */

/* Especificidad */

/*
* (0,0,0,0)
* (0,0,0,1) -> Elementos HTML
* (0,0,1,0) -> Clase
* (0,1,0,0) -> Id
* (1,0,0,0) -> !important
**/