*{
    margin: 0px;
    padding: 0px;
    /* font-size: 16px */
    /* default 1rem = 16px */
    font-size: 10px; /* 1rem = 10px */
    box-sizing: border-box;
}

body {
 background: url("./images/bg-desktop.svg"), linear-gradient(0deg, rgb(85, 4, 85), rgb(155, 46, 155));
 width: 100vw;
}

/*
* vh -> view height altura total del tamaño de tu pantalla.
* vw -> view width ancho total del tamaño de tu pantalla.
* px -> es una unidad para medir
* 
*/
.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.cabecera{
 height: 10rem;
}

.main-content {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.cabecera img{
    width: 20rem;
    height:10rem;

}
.lateral{
    padding-left: 5rem;
    padding-right: 5rem;
}

.lateral h1{
    font-family: poppins;
    color: white;
    font-size: 30px;
}
.lateral p{
    color: white;
    font-family: poppins;
    font-size: 20px;
}


/* (0,0,1,0)*/
.boton {
    text-decoration: none;
    background: white;
    color: purple;
    border-radius: 30px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 1rem;
    
}

button:hover {
    background-color: firebrick;
}

/* 
* Pseudoclase: En algunos html indican alguna accion de usuario a un elemnto.
* :hover
* :active
* :visited
* :focus 
*/
.lateral {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botones-final {
    padding-left: 110rem;
    /* Evitar usar reglas absolutas*/
    /*margin-left: 1170px;*/
}

.boton-circular {
    border-radius: 5rem;
    font-size: 3rem;
    font-weight: normal;
    text-justify: unset;
    padding: 1rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* (0,0,0,1)*/
/* a {
    font-size: 50px !important;  (1,0,0,0)
} */

/* Especificidad */

/*
* (0,0,0,0)
* (0,0,0,1) -> Elementos HTML
* (0,0,1,0) -> Clase
* (0,1,0,0) -> Id
* (1,0,0,0) -> !important
**/